@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-field {
    @apply my-2 px-3 py-3 placeholder-gray-300 text-gray-600 relative bg-white rounded text-sm border-0  shadow outline-none focus:outline-none focus:ring w-full;
  }
  .btn-primary-custom {
    @apply bg-gray-900 w-full
              text-white
              active:bg-gray-600
              font-bold
              uppercase text-xs
              px-4 py-2
              rounded
              shadow
              hover:shadow-md
              outline-none
              focus:outline-none
              mr-1 mb-1
              ease-linear
              transition-all
              duration-150;
  }
  .btn-primary-large {
    @apply text-white font-bold bg-gray-900 p-[20px] hover:bg-gray-700 ease-out transition-all duration-150 rounded-2xl text-xl  text-center dark:bg-gray-500 dark:hover:bg-gray-600;
  }

  .card {
    @apply border shadow-md rounded-xl bg-white;
  }

  .choice {
    @apply bg-gray-200 text-xl px-4 py-2 cursor-pointer hover:bg-primary hover:text-white rounded;
  }

  .typo-h1 {
    @apply text-primary font-bold text-5xl text-center;
  }

  h1 {
    @apply text-4xl md:text-7xl font-bold font-sora;
  }

  h2 {
    @apply text-3xl md:text-6xl font-sora;
  }

  h3 {
    @apply text-2xl md:text-5xl font-sora;
  }

  h4 {
    @apply text-xl md:text-4xl font-sora;
  }

  h5 {
    @apply text-xl md:text-2xl;
  }

  h6 {
    @apply text-lg md:text-xl;
  }

  p {
    @apply text-lg text-gray-900 dark:text-gray-50;
  }
}
